DOMAIN=yourname.duckdns.org
ACME_EMAIL=your@email.com

POSTGRES_USER=snapmap
POSTGRES_PASSWORD=changeme_strong_password

REDIS_PASSWORD=changeme_redis_password

RABBIT_USER=snapmap
RABBIT_PASS=changeme_rabbit_password

MINIO_ACCESS_KEY=snapmap_minio
MINIO_SECRET_KEY=changeme_minio_secret

SNAP_MAP_BOT_TOKEN=токен_от_botfather
