@use '../styles/variables' as vars;

.card {
  background: vars.$soft;
  border-radius: vars.$radius;
  padding: 12px;
  flex: 1;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  .stat__value {
    font-size: 24px;
    font-weight: 600;
    color: vars.$text;
    line-height: 1;
  }
}

