.headline-container {
  width: 100%;
  padding: 0 4px 16px;
  margin: 0;

  .counters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;

    .counter-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex: 1 1 120px;
      padding: 14px 16px;
      background: #F5F7FB;
      border-radius: 20px;

      .counter-text {
        max-width: 70%;
        font-size: 12px;
        font-weight: 600;
        color: #637383;
      }

      .counter-value {
        font-size: 28px;
        font-weight: 600;
        color: #007AFF;
      }
    }
  }
}

.headline {
  padding: 0 4px;

  .subtitle {
    font-size: 14px;
    color: #637383;
  }

  .subtitle--bold {
    font-weight: 700;
    color: #000000;
    margin-right: 4px;
  }
}
