@use '../styles/variables' as vars;
.headline {
  margin: 12px 0;
  .title { margin: 0; font-size: 24px; font-weight: 800; width: 100%; word-break: break-word; }
  .subtitle { margin-top: 6px; color: vars.$muted; font-size: 12px; }
}