:root {
  --bg: #EDEFF3;
  --blue: #007AFF;
  --blue-soft: #E5F0FF;
  --red: #DE1A1A;
  --dark: #30343F;
  --gray: #8D99AE;
  --gray-soft: #C8CFDB;
  --white: #FFFFFF;
  --green: #34C759;
  --orange: #FF9500;
  --purple: #AF52DE;
}
